.row
  .container
    %h2
      = t('devise.resend_confirmation_instructions')
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .input-field
        = f.label :email, t('devise.email')
        = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      .actions.input-field
        = f.submit t('devise.resend_confirmation_password'), class: 'btn waves-effect waves-light'
.row
  .container
    = render "users/shared/links"
