.row
  .container
    .col.s12.m6.offset-m3
      %h2
        = t('devise.log_in')
      = form_for(resource, url: session_path(resource_name), html: {id: "js-session-devise-form"}) do |f|
        .input-field
          = f.label :email, t('devise.email')
          = f.email_field :email, autofocus: true
        .input-field
          = f.label :password, t('devise.password')
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .input-field
            = f.check_box :remember_me
            = f.label :remember_me, t('devise.remember_me')
        .actions.input-field
          = f.button t('devise.log_in'), :class => 'btn waves-effect waves-light', type: :submit
#shared-links.row
  .container
    .col.s12.m6.offset-m3
      = render "users/shared/links"
= render partial: "shared/preloader"