.row
  .container
    %h2 Resend unlock instructions
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .input-field
        = f.label :email
        = f.email_field :email, autofocus: true
      .actions.input-field
        = f.submit "Resend unlock instructions", class: 'btn waves-effect waves-light'
.row
  .container
    = render "users/shared/links"
