.row
  .container
    .row
      .col.s12
        %h2
          Oblicz swoje BMI:
      .row
        .col.s12.l6
          BMI (ang. body mass index) to wskaźnik masy ciała w stosunku do wzrostu. Za pomocą wskaźnika BMI dowiesz się czy Twoja aktualna masa ciała jest prawidłowa, czy wymaga modyfikacji.
        .col.s12.l6
          Kalkulator BMI w prosty sposób pomoże Ci określić czy masz prawidłową wagę. Kalkulator może być stosowany zarówno dla kobiet jak i mężczyzn.
      .col.s12.l6
        .col.s12
          = label_tag :bmi_weight, "Waga (kg):"
          = number_field_tag :bmi_weight, 0, min: 1
        .col.s12
          = label_tag :bmi_height, "Wzrost (cm):"
          = number_field_tag :bmi_height, 0, min: 1
        .col.s12
          .btn.waves-effect.waves-light#js-bmi
            Oblicz BMI
      .col.s12.l6
        %ul.collection.bmi-result
          %li.collection-header
            %h4#bmi-val
              BMI
          %li.collection-item.not
            < 18,5 – niedowaga
          %li.collection-item.ok
            18,5–24,99 – waga poprawna
          %li.collection-item.bad
            ≥ 25,0 – nadwaga