.row{style: "margin-bottom: 0;"}
  .parallax-container
    .parallax
      = image_tag "parallax.jpg"
  .section.white
    .row
      .container.center
        .row
          .col.s12
            %h1
              Witamy w aplikacji MealtWeight
              %i.fa.fa-thumbs-o-up.fa-2x
        .row
          .col.s12.center
            %h4
              Z naszą aplikacją ułożysz sobie samodzielnie własną dietę, przestrzegając podstawowych zasad.
              = link_to "Zarejestruj się", new_user_registration_path, class: "black-text"
              i zobacz jakie to proste!
  .parallax-container
    .parallax
      = image_tag "parallax2.jpg"