.row
  .container
    .row
      .col.s12.l6
        = image_tag "protein.jpg", class: "responsive-img"
      .col.s12.l6
        %ul.collection.with-header
          %li.collection-header
            %h4 Białko:
          %li.collection-item 4 kalorie na gram
          %li.collection-item powszechnie znajduje się w mięsie
          %li.collection-item potrzebne do budowanie mięśni
          %li.collection-item pomaga w odbudowie mięśni
          %li.collection-item zmiejsza obolałość
          %li.collection-item pomaga w gubieniu tłuszczu
    .row
      .col.s12.l6
        = image_tag "carbohydrates.jpg", class: "responsive-img"
      .col.s12.l6
        %ul.collection.with-header
          %li.collection-header
            %h4 Węglowodany:
          %li.collection-item 4 kalorie na gram
          %li.collection-item są paliwem dla mięśni
          %li.collection-item powszechnie spotykanie w jedzeniu bogatym w skrobię
          %li.collection-item nadużywane przez większość ludzi
    .row
      .col.s12.l6
        = image_tag "fat.jpg", class: "responsive-img"
      .col.s12.l6
        %ul.collection.with-header
          %li.collection-header
            %h4 Tłuszcze
          %li.collection-item 9 kalorii na gram
          %li.collection-item znajdują się prawie wszędzie
          %li.collection-item wykorzystywane do niektórych funkcji ciała
    .row
      .col.s12
        %ul.collection.with-header
          %li.collection-header
            %h4 Woda i warzywa
          %li.collection-item
            Nie są składnikami diety ale należą do tej części. Warzywa zawierają błonnik pokarmowy,
            który jest dobry dla twojego zdrowia. Woda natomiast reguluje każdy proces w twoim ciele.
            Tak więc pij dużo wody i jedz jak najwięcej warzyw.
    -#  .col.s12
    -#    %ul.collection.with-header
    -#      %li.collection-header
    -#        %h4 Obalenie mitu
    -#      %li.collection-item
    -#        Nie ma czegoś takiego jak idealna proporcja białka/węglowodanów/tłuszczu.
    -#        Kiedy układasz dietę, wypełnij początkowo białko, następnie uzupełnij brakujące
    -#        kalorie tłuszczem/węglowodanami.
    .row
      .col.s12.l6
        = image_tag "calories.jpg", class: "responsive-img"
      .col.s12.l6
        %ul.collection.with-header
          %li.collection-header
            %h4 Liczenie kalorii
          %li.collection-item
            Przyjmij następujące zasady:
          %li.collection-item
            32-36 * twoja waga aby przybrać na masie
          %li.collection-item
            28-30 * twoja waga aby pozostać w danej formie
          %li.collection-item
            20-24 * twoja waga aby stracić masę
          %li.collection-item
            Przykładowo jeżeli ważysz 100kg:
            %br
            3200 - 3600 kalorii aby nabrać masy
            %br
            2800 - 3000 kalorii aby postastać przy akualnej wadze
            %br
            2000 - 2400 aby zgubić zbędne kilogramy
          %li.collection-item
            Pamietaj jeżeli przybierasz na masie, rośnie tłuszcz wraz z mieśniami.
            To samo dzieje się w przypadku redukowania masy ciała. Jest to nieuniknione.
            %br
            Powinneś nabierać/tracić 0.5-1 kilograma tygodniowo, nie więcej.
            %br
    .col.s12.l6
      = image_tag "workout.jpg", class: "responsive-img"
    .col.s12.l6
      %ul.collection.with-header
        %li.collection-header
          Ćwiczenia
        %li.collection-item
          Decydują o tym czy twój organizm buduje mięśnie lub odkłada tłuszcz.
          Również decyduje o tym co będziesz budować/tracić w momencie posiadania diety.
        %li.collection-item
          Gdy ćwiczysz, twoje ciało 'niszczy' towje mięśnie (katabolizm). Następnie gdy odpoczywasz,
          twoje ciało odbudowuje je (anabolizm). Te dwa czynniki składają się na metabolizm.
          %br
          Węglowodany są paliwem dla katabolizmy, natomiast białko jest paliwem dla anabolizmu.
          %br
          Zgodnie z tymi założeniami, jeśli chcesz zmienić swoją sylwetkę szybko,
          proporcje powinny wyglądać następująco: 1/3 dieta, 1/3 ćwiczenia, 1/3 odpoczynek.
          %br
          Najlepsze oraz najszybsze efekty daje trening całego ciała w porównaniu do połowicznego treningu czy treningu, który izoluje konkretną partię ciała.
          %br
          Pamiętaj żeby się rozciągnąć i rozgrzać! Podczas ćwiczeń między seriami, weź tyle przerwy ile potrzebujesz, byle nie więcej niż 2 minuty.

