.col.s12.m6.l4{id: "day-diet#{day_diet.id}"}
  .card.horizontal.hoverable
    .card-stacked
      .card-content
        .center
          %i.fa.fa-calendar.fa-2x
        %p
          = t("activerecord.day_diet.name")
          %span.bold
            = day_diet.name
        %p
          = t("activerecord.day_diet.amount")
          %span.bold
            = day_diet.dishes.count
      .card-action
        = link_to day_diet_path(day_diet), class: "btn waves-effect waves-light" do
          = t("global.show")
          %i.fa.fa-eye
        .btn.deep-orange.darken-4.waves-effect.waves-light.js-destroy-modal{data: {id: day_diet.id}}
          = t("global.delete")
          %i.fa.fa-trash