= form_for @new_day_diet, format: :json, html: {id: "js-new-day-diet"} do |f|
  .modal-content
    %i.fa.fa-times.modal-close.right
    .input-field.hide
      = label_tag :diet_id
      = text_field_tag :diet_id
      .error.red-text
    .input-field
      = f.label :name, t("activerecord.day_diet.new_name")
      = f.text_field :name, autofocus: true
      .error.red-text
    .modal-footer
      .actions.input-field
        = f.button t("activerecord.day_diet.create_day_diet"), class: 'btn waves-effect waves-light', type: :submit