.row
  .container
    .col.s6.center
      .row
        %h6
          = t("activerecord.diet.name")
      .row
        %h5
          = @day_diet.diet.name
    .col.s6.center
      .row
        %h6
          = t("activerecord.diet.kcal")
      .row
        %h4
          = @day_diet.diet.kcal
    .col.s12.center.row
      %h5
        = @day_diet.name
    #day-diet-id{data: {id: "#{@day_diet.id}"}}

    - if @dishes.present?
      .row
        = link_to t("activerecord.dish.new"), new_dish_path, class: 'btn waves-effect waves-light js-new-dish'
      .row#dish-list
        - @dishes.each do |dish|
          = render partial: 'dishes/dish_item', locals: {dish: dish}
    - else
      .center
        %h5
          = t("activerecord.dish.no_dishes")
        = link_to t("activerecord.dish.new"), new_dish_path, class: 'btn waves-effect waves-light js-new-dish'


#js-destroy-modal.modal.bottom-sheet
  .modal-content.center
    .btn.deep-orange.darken-4.waves-effect.waves-light.js-destroy-dish{data: {id: ''}}
      = t("global.delete")
      %i.fa.fa-trash
  .modal-footer
    .btn.btn-flat.modal-close
      = t("global.close")
      %i.fa.fa-times

#js-new-modal.modal