.col.s12.m6.l4{id: "dish#{dish.id}"}
  .card.horizontal.hoverable
    .card-stacked
      .card-content
        .center
          %i.fa.fa-cutlery.fa-2x
        %p
          = t("activerecord.dish.new_name")
          %span.bold
            = dish.name
        %p
          Kaloryczność posiłku
          %span.bold
            = dish.total_kcal
      .card-action
        = link_to dish_path(dish), class: "btn waves-effect waves-light" do
          = t("global.show")
          %i.fa.fa-eye
        .btn.deep-orange.darken-4.waves-effect.waves-light.js-destroy-modal{data: {id: dish.id}}
          = t("global.delete")
          %i.fa.fa-trash