.row
  .container
    .row
      #dish-content{data: {id: @dish.id}}
        .col.s12.center#dish_totals
          = @dish.display_totals
        %hr
        .col.s12.l6
          #dish
            - @dish.ingredients.each do |i|
              = render partial: 'products/product_item_onlist', locals: {ingredient: i}


        .col.s12.l6.products_group
          = label_tag :search_products, "Szukaj produktów"
          = text_field_tag :search_products, "", placeholder: "Minumum 3 znaki"
          .group-product-search
            = render partial: 'products/group_product_items'

#product-modal.modal
  .modal-content
    Podaj ilość:
    %i.fa.fa-times.modal-close.right
    .col.s12
      = number_field_tag :amount, min: 0
  .modal-footer
    .btn.waves-effect.waves-light#add-dish
      Dodaj

#ingredient-modal.modal
  .modal-content
    %i.fa.fa-times.modal-close.right
    .col.s12#ingredient_info
  .modal-footer
    .btn.waves-effect.waves-light.deep-orange.darken-4#delete-dish
      Usuń
    .btn.waves-effect.waves-light#update-dish
      Aktualizuj