.row
  .container
    .col.s12.m6.offset-m3
      %h2
        = t('devise.change_password')
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        .input-field
          - if @minimum_password_length
            = f.label :password, t('devise.password_with_min_length',min_length: @minimum_password_length)
          - else
            = f.label :password, t('devise.password')
          = f.password_field :password, autofocus: true, autocomplete: "off"
        .input-field
          = f.label :password_confirmation, t('devise.password_new_confirmation')
          = f.password_field :password_confirmation, autocomplete: "off"
        .actions.input-field
          = f.submit t('devise.change_password'), class: 'btn waves-effect waves-light'
.row
  .container
    .col.s12.m6.offset-m3
      = render "users/shared/links"
