.row
  .container
    .col.s12.m6.offset-m3
      %h2
        = t('devise.forgot_password')
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .input-field
          = f.label :email
          = f.email_field :email, autofocus: true
        .actions.input-field
          = f.submit t('devise.send_reset_password'), class: 'btn waves-effect waves-light'
.row
  .container
    .col.s12.m6.offset-m3
      = render "users/shared/links"
