%tr{id: "diet#{diet.id}"}
  %td
    = diet.name
  %td
    = diet.kcal
  %td
    = link_to diet_path(diet), class: "btn waves-effect waves-light" do
      = t("global.show")
      %i.fa.fa-eye
    .btn.deep-orange.darken-4.waves-effect.waves-light.js-destroy-modal{data: {id: diet.id}}
      = t("global.delete")
      %i.fa.fa-trash