.row
  .container
    %h1
      = t("activerecord.diet.diets")

    - if @diets.present?
      = link_to t("activerecord.diet.new_diet"), new_diet_path, class: 'btn waves-effect waves-light js-new-diet'
      %table.striped.highlight.centered#diet-list
        %thead
          %tr
            %th
              = t("activerecord.diet.name")
            %th
              = t("activerecord.diet.kcal")
            %th
        %tbody
          - @diets.each do |diet|
            = render partial: 'diet_item', locals: {diet: diet}
    - else
      .center
        %h5
          = t("activerecord.diet.no_diets")
        = link_to t("activerecord.diet.new_diet"), new_diet_path, class: 'btn waves-effect waves-light js-new-diet'

#js-destroy-modal.modal.bottom-sheet
  .modal-content.center
    .btn.deep-orange.darken-4.waves-effect.waves-light.js-destroy-diet{data: {id: ''}}
      = t("global.delete")
      %i.fa.fa-trash
  .modal-footer
    .btn.btn-flat.modal-close
      = t("global.close")
      %i.fa.fa-times

#js-new-modal.modal