-#.row
-#  .container
-#    %h1
-#      = t("activerecord.diet.new_diet")
-#
-#    = form_for @new_diet, format: :json, html: {id: "js-new-diet"} do |f|
-#      .input-field
-#        = f.label :name, t("activerecord.diet.name")
-#        = f.text_field :name, autofocus: true
-#        .error.red-text
-#      .input-field
-#        = f.label :kcal, t("activerecord.diet.kcal")
-#        = f.number_field :kcal
-#        .error.red-text
-#      .actions.input-field
-#        = f.button t("activerecord.diet.create_diet"), class: 'btn waves-effect waves-light', type: :submit
-#= render partial: "shared/preloader"

= form_for @new_diet, format: :json, html: {id: "js-new-diet"} do |f|
  .modal-content
    %i.fa.fa-times.modal-close.right
    .input-field
      = f.label :name, t("activerecord.diet.name")
      = f.text_field :name, autofocus: true
      .error.red-text
    .input-field
      = f.label :kcal, t("activerecord.diet.kcal")
      = f.number_field :kcal
      .error.red-text
  .modal-footer
    .actions.input-field
      = f.button t("activerecord.diet.create_diet"), class: 'btn waves-effect waves-light', type: :submit
    -#= render partial: "shared/preloader"