.row
  .container
    .col.s6.center
      .row
        %h6
          = t("activerecord.diet.name")
      .row
        %h5
          = @diet.name
    .col.s6.center
      .row
        %h6
          = t("activerecord.diet.kcal")
      .row
        %h5
          = @diet.kcal
    #diet-id{data: {id: "#{@diet.id}"}}

    - if @day_diets.present?
      .row
        = link_to t("activerecord.day_diet.new"), new_day_diet_path, class: 'btn waves-effect waves-light js-new-day-diet'
      .row#day-diet-list
        - @day_diets.each do |day_diet|
          = render partial: 'day_diets/day_diet_item', locals: {day_diet: day_diet}
    - else
      .center
        %h5
          = t("activerecord.day_diet.no_day_diets")
        = link_to t("activerecord.day_diet.new"), new_day_diet_path, class: 'btn waves-effect waves-light js-new-day-diet'


#js-destroy-modal.modal.bottom-sheet
  .modal-content.center
    .btn.deep-orange.darken-4.waves-effect.waves-light.js-destroy-day-diet{data: {id: ''}}
      = t("global.delete")
      %i.fa.fa-trash
  .modal-footer
    .btn.btn-flat.modal-close
      = t("global.close")
      %i.fa.fa-times

#js-new-modal.modal