.error{
  margin-top: -15px;
}

.bold{
  font-weight: bold;
}

#dish{
  border: 1px solid darkgray;
  height: 400px;
  overflow: auto;
}

#dish-content{
  margin-top: 20px;
}

#product-list{
  height: 300px;
  overflow-y: auto;
  overflow-x: visible;
}

.row-product{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.product{
  max-width: 200px;
}

.product-onlist{
  cursor: pointer;
}