#product-list
  - @products.in_groups_of(3,false) do |row_product|
    .row.row-product
      - for product in row_product
        = render partial: 'products/product_item', locals: {product: product}