.product.col.s4{id: "product#{product.id}", data: {f: product.fat, c: product.carbohydrates, p: product.protein, id: product.id}}
  .card.horizontal.hoverable
    .card-stacked
      .card-content
        .center
          = product.name