.product-onlist.col.s4{id: "ingredient#{ingredient.id}", data: {id: ingredient.id}}
  .card.horizontal.hoverable
    .card-stacked
      .card-content
        .center
          = ingredient.product.name