%footer.page-footer.light-green
  .container
    .row
      .col.l6.s12
        %h5.white-text Zmień swoją sylwetkę!

      .col.l4.offset-l2.s12
        %h5.white-text Linki
        %ul
          %li
            = link_to "Produkty", products_path, class: "grey-text text-lighten-3"
          %li
            = link_to "BMI", calculators_path, class: "grey-text text-lighten-3"
          %li
            = link_to "Informacje", info_path, class: "grey-text text-lighten-3"
          - if current_user
            %li
              = link_to t('devise.diets'), diets_path, class: "grey-text text-lighten-3"
            %li
              = link_to t('devise.edit_profile'), edit_user_registration_path, class: "grey-text text-lighten-3"
  .footer-copyright
    .container
      MealtWeight © 2017 Daniel Niedziałkowski