%header
  .navbar-fixed
    %nav.light-green
      .nav-wrapper.container
        = link_to "MealtWeight", root_path, class: 'brand-logo hide-on-med-and-down'
        %ul.right
          %li
            = link_to "Produkty", products_path
          %li
            = link_to "BMI", calculators_path
          %li
            = link_to "Informacje", info_path
          %li
            - if current_user
              %a.slide-menu{"data-activates" => "slide-menu"} Profil
            - else
              = link_to t('devise.log_in'), new_user_session_path
  - if current_user
    %ul#slide-menu.side-nav
      %li
        .userView.light-green
          -#.background
            -#%img{:src => "images/office.jpg"}/
          -#%a{:href => "#!user"}
            -#%img.circle{:src => "images/yuna.jpg"}/
          %span.white-text.email
            = current_user.email
      %li
        = link_to t('devise.diets'), diets_path
      %li
        = link_to t('devise.edit_profile'), edit_user_registration_path
      %li
        .divider
      %li
        = link_to t('devise.log_out'), destroy_user_session_path, :method => :delete