!!!
%html
  %head
    %title Meal
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'#, 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'#, 'data-turbolinks-track': 'reload'
  %body
    = render partial: 'layouts/header'
    %main
      = yield
    = render partial: 'layouts/footer'

    - if alert
      #permission_error_handle.hide{data: {message: t('activerecord.authorization_error')}}