.row
  .container
    .col.s12.m6.offset-m3
      %h2
        = t('devise.edit_profile')
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'js-register-devise-form' }) do |f|
        -#= devise_error_messages!
        .input-field
          = f.label :email, t('devise.email')
          = f.email_field :email, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .input-field
          - if @minimum_password_length
            = f.label :password, t('devise.password_edit_with_min_length',min_length: @minimum_password_length)
          - else
            = f.label :password, t('devise.password_edit')
          = f.password_field :password, autocomplete: "off"
          .error.red-text
        .input-field
          = f.label :password_confirmation, t('devise.password_confirmation')
          = f.password_field :password_confirmation, autocomplete: "off"
          .error.red-text
        .input-field
          = f.label :current_password, t('devise.current_password_to_confirm')
          = f.password_field :current_password, autocomplete: "off"
          .error.red-text
        .actions
          = f.button t('devise.update'), :class => 'btn waves-effect waves-light', type: :submit
#shared-links.row
  .container
    .col.s12.m6.offset-m3
      %h3
        = t('devise.cancel_account')
      %p
        #{button_to t('devise.cancel_account'), registration_path(resource_name), class: 'waves-effect waves-teal btn-flat red white-text', data: { confirm: t('devise.cancel_account_confirm') }, method: :delete}
      = link_to t('devise.back'), :back, class: 'waves-effect waves-teal btn-flat'
= render partial: "shared/preloader"