.row
  .container
    .col.s12.m6.offset-m3
      %h2
        = t('devise.sign_up')
      = form_for(resource, url: registration_path(resource_name), html: {id: 'js-register-devise-form'}) do |f|
        = devise_error_messages!
        .input-field
          = f.label :email, t('devise.email')
          = f.email_field :email, autofocus: true
          .error.red-text
        .input-field
          - if @minimum_password_length
            = f.label :password, t('devise.password_with_min_length', min_length: @minimum_password_length)
          - else
            = f.label :password, t('devise.password')
          = f.password_field :password, autocomplete: "off"
          .error.red-text
        .input-field
          = f.label :password_confirmation, t('devise.password_confirmation')
          = f.password_field :password_confirmation, autocomplete: "off"
          .error.red-text
        .actions.input-field
          = f.button t('devise.sign_up'), :class => 'btn waves-effect waves-light', type: :submit
#shared-links.row
  .container
    .col.s12.m6.offset-m3
      = render "users/shared/links"
= render partial: "shared/preloader"